@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins:wght@400;500;600;700&display=swap');
.purple-text {
  font-weight: 400;
  font-family: 'Purple Purse'; 
}

.red-text {
  font-weight: 400;
  font-family: 'red'; 
}
.animation-header, .mint-header, .roadmap-header, .faq-header {
  /*padding-top: 0.25em;
  *//*padding-bottom: 0.25em;
  */font-size: 2em;
  background-color: #000000;  
}

.banner {
  display: flex;
  justify-content: center;
  background-color: #636363;  
  padding: 2em 0;   
}

.banner img {
  /* max-width: 600px;
  width: 100%; */
  width: 100%;
}

.gallery {
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.gallery-img img {
  width: 180px;
  height: 180px;
}

.mint-header, .roadmap-header, .faq-header {  
  background: transparent;
  /* margin-top: 50px; */
}

.mint-panel {  
  width: 450px;      
  /* border: 1px solid #ccc; */
  margin-top: 20px;
}
.mint-price{  
  font-size: 18px !important;   
  text-align: center;    
}
.mint-title, .mint-narration {  
  font-size: 1.9em;   
  margin: 0 auto;  
}

.mint-title, .mint-narration {
  max-width: 600px;
}

.mint-narration {
  font-size: 18px;  
}


.mint-price {
  font-size: 14px;  
  color:#fff
}

.gif-container {
  padding-top: 2em;
  display: flex;
  flex-direction: column;  
  align-items: center;
  background-color: #dfaaaa;
}

.gif-board {
  width: 90%;
  padding-bottom: 2em;
}

.mint-container {
  position: absolute;
  left: calc(50% - 252px);  
  top: 50px;
  background: rgba(21, 18, 18, 0.4);
  width: 500px;
  height: 100vh;
  margin: auto;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.social-links-wrapper{  
  margin-bottom: 20px;  
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links-wrapper .social-link{
  font-size: 42px;
  cursor: pointer;  
  position: relative;
  margin-top: -10px;
  display: flex;
  justify-content: center;  
}

.connect-btn, .mint-btn {
  background-color: #bd0202;
  border-radius: 10px;
  padding: 0.5em 0.5em;
  font-weight: 400;
  font-size: 1em;
  font-family: 'Patrick Hand', cursive;
  border: none;
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.mint-btn {  
  width: 190px;
  padding: 1em 1.75rem;  
}

.connect-btn:hover, .mint-btn:hover, .connect-btn:focus, .mint-btn:focus {
  color: #000;
  background-color: rgb(202, 20, 20);
  border: none;
}

.custom-minting{
  display: flex;
  justify-content: center;  
  align-items: center;  
  margin-top: 10px;
}
.custom-minting span{
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  color: #000;
}
.custom-minting button{
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: none;
  outline: none;
  background: #212B36;
  color: #fff;
  font-size: 18px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.mt10{
  margin-top: 10px;
}

.mb10{
  margin-bottom: 10px;
}

.mint-status {
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: 400;
  font-family: 'Purple Purse';
  font-size: 1em;
}

.roadmap-container {
  background-color: #FFD88C;
  padding-bottom: 2em;
}

.faq-container {
  background-color: #f692ff;
  padding-bottom: 2em;
}

.roadmap-title {
  font-size: 1.4em;
}

.roadmap-text-height {
  height: 160px;
  overflow: hidden;
}

.roadmap-text {
  font-size: 0.9em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

.roadmap-text1 {
  font-size: 1.5em;
}

.roadmap-text2 {
  font-size: 1.2em;
}

.faq-text {
  font-size: 1em;
}

.modal-content {
  background: rgb(30, 29, 29);
  border: 1px solid #ccc;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}

.sr-only {
  position: absolute;
  clip: rect(0,0,0,0);
}

.modal-header button {
  background-color: transparent;
  border: none;
}

.modal-header button span {
  color: rgb(8, 7, 7);
  font-size: 2rem;
}

.modal-body {
  text-align: center;
}

.modal-footer button {
  border-radius: 24px !important;
  background-color: transparent;
  border: 2px solid #fff !important;
  padding: 9px 35px;
  font-size: 0.9rem;
}

.modal-footer button:hover {
  background-color: #000;
}

.modal-footer .btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

.mint-number {
  display: flex;
  align-items: center;
  justify-content: space-around;  
}

.mint-number button {
  background-color: transparent;
  color: #fff;
  font-size: 3rem;
  border: none;
}

.mint-number label {
  font-size: 3rem;
}

.color-white{
  color: #fff;
}

@media (min-width: 360px) {
  .gallery {
    flex-direction: row;
  }
}

@media (min-width: 576px) {
  .roadmap-panel {
    margin-left: 3em;
    margin-right: 3em;
    padding-left: 3em;
    padding-right: 3em;
    border-radius: 2em;
    border-width: 2px;
  }

  .roadmap-panel {
    padding: 0;
  }

  .roadmap-title {
    font-size: 1.75em;
  }

  .roadmap-text {
    font-size: 1.2em;
  }

  .roadmap-text1 {
    font-size: 2em;
  }

  .roadmap-text2 {
    font-size: 1.5em;
  }
}

@media (min-width: 768px) {
  .animation-header, .mint-header, .roadmap-header, .faq-header {    
    font-size: 3em;
  }

  .gif-container {
    flex-direction: row; 
    justify-content: space-around;
  }

  .gif-board {
    width: 45%;
  }  

  .mint-title {
    font-size: 2em;
  }

  .mint-narration {
    font-size: 1.25em;
    color:#fff
  }

  .collage {    
    display: flex;
    justify-content: center;
  }

  .mint-price {
    font-size: 1em;
  }

  .roadmap-panel {
    margin-left: 5em;
    margin-right: 5em;
    border-radius: 2.5em;
    border-width: 3px;
  }

  .roadmap-panel {
    margin-left: 8em;
    margin-right: 8em;
  }

  .roadmap-title {
    font-size: 2em;
  }

  .connect-btn {
    font-size: 1.5em;
    padding: 0.6em 0.5em;
    border-radius: 2.3em;
  }

  .mint-btn {
    font-size: 1.5em;
    padding: 0.75em 2em;
    border-radius: 2.5em;
  }

  .faq-text {
    font-size: 1.5em;
  }
}

@media (min-width: 992px) {
  .animation-header, .mint-header, .roadmap-header, .faq-header {
    font-size: 3.5em;
  }

  .roadmap-panel {
    margin-left: 7.5em;
    margin-right: 7.5em;
    border-radius: 3em;
    border-width: 4px;    
  } 

  .roadmap-panel {
    margin-left: 10em;
    margin-right: 10em;
  }
  
  .connect-btn {
    font-size: 2em;
    padding: 0.3em 0.5em;
    border-radius: 2.5em;
  }

  .mint-btn {
    font-size: 2em;
    padding: 0.5em 1.5em;
    border-radius: 2.75em;
  }

  .mint-status {
    font-size: 1.5em;
    color:#fff
  }

  .roadmap-title {
    font-size: 3em;
  }

  .roadmap-text-height {
    height: 180px;
  }

  .roadmap-text {
    font-size: 1.5em;
  }

  .roadmap-text2 {
    font-size: 2em;
  }

  .roadmap-text1 {
    font-size: 3em;
  }

  .faq-text {
    font-size: 1.7em;
  }
}

@media (min-width: 1200px) {
  .animation-header, .mint-header, .roadmap-header, .faq-header {
    font-size: 4em;
    /* padding-top: 0.2em; */
    /* padding-bottom: 0.2em; */
  } 

  .roadmap-panel {
    margin-left: 10em;
    margin-right: 10em;
    border-radius: 4em;
    border-width: 5px;
  } 

  .roadmap-panel {
    margin-left: 15em;
    margin-right: 15em;
  }

  .connect-btn {
    font-size: 2.25em;
    padding: 0.3em 0.5em;
    border-radius: 2.6em;
  }

  .mint-btn {
    font-size: 2.25em;
    padding: 0.5em 1.5em;
    border-radius: 2.8em;
  }

  .roadmap-title {
    font-size: 3.75em;
  }

  .roadmap-text2 {
    font-size: 2em;
  } 

  .roadmap-text1 {
    font-size: 3.6em;
  } 
}

@media (min-width: 1400px) {
  .animation-header, .mint-header, .roadmap-header, .faq-header {
    font-size: 4.5em;
  }    

  .roadmap-panel {
    margin-left: 20em;
    margin-right: 20em;
  }

  .roadmap-title {
    font-size: 4.5em;
  }  
  
  .roadmap-text2 {
    font-size: 2.2em;
  } 

  .roadmap-text1 {
    font-size: 4em;
  } 
}

a{
  color: #fff;
}

.df{
  display: flex;
}
.jcc{
  justify-content: center;
}